.settings_container {
    width: 100%;
    max-width: 100%;
    border: 1px solid black;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;

}

.settings_title_container h2 {
    font-family: var(--font-light);
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    text-align: left;
    align-items: center;

}

.settings_nav {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.settings_nav_list {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    width: 100%;
}

.settings_nav_item {
    background-color: var(--bs-white);
    font-family: var(--font-light);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 10px;
    border-radius: 5px;
    min-height: 40px;
    font-weight: 600;
    color: var(--bs-indigo);
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    text-transform: capitalize;
}

.settings_nav_item:hover {
    background-color: var(--bs-indigo);
    color: var(--bs-white);
    cursor: pointer;
}

/*table*/
.settings_table {
    margin-top: 32px;

}

.question {
    width: 15px;
    height: 15px;
    border: 1px solid var(--bs-orange);
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.settings_title_sub h2 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-family: var(--font-light);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    text-align: left;

}

/*table*/
.main-table {
    width: 100%;
    border-collapse: collapse;


}

.settings_table_nav {
    margin: 15px 0;
}

.settings_table_nav ul {
    display: flex;
    justify-content: flex-end;

}

.settings_table_nav li {
    width: max-content;
    display: flex;
    margin-right: 25px;

}

td {
    padding: 15px;
    margin-left: 50px;

}

td img {
    margin: 0 5px;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
tbody tr:nth-child(even) {
    background-color: rgb(244, 244, 244);

}


.empty {
    width: 20px;
    height: 20px;
    border: 1px solid var(--bs-orange);
}


.file {
    width:17px;
    height: 20px;
    vertical-align: middle;
}

.check{
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid var(--bs-orange);
    cursor: pointer;
    background-color: transparent;
}

.check:checked {
    background-color: var(--bs-orange);
    background-image: url("/location/images/check.svg");
    background-size: cover;
    background-position: center;
}

.check::before {
    content: '';
    position: absolute;
    top: 55%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    background-image: url("/location/images/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.check:checked::before {
    display: block;
}

/*btn part*/
.settings_add_btn {
    margin-top: 18px;


}

.add_btn {
    width: 255px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: var(--bs-indigo);
    color:var(--bs-white) ;
    text-transform: uppercase;
    font-family: var(--font-light);
    font-weight: 500;font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
}

.add_btn img{
margin: 0 10px;
}













